.header__navbar {
  font-size: 1.6rem;
}

.header__brand {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header__brand:hover {
  text-decoration: none;
  color: #ffffffbf;
}

.header__nav {
  width: 80%;
  text-transform: capitalize;
}
